@model List<BookOnline.Models.Cartitem>

@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slide{
    @if (Model.Count > 0)
    {
<table class="table">
    <thead>
        <tr style="color:black;">
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Mã sản phẩm</th>
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Tên sản phẩm</th>
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Ảnh sản phẩm</th>
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Số Lượng</th>
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Đơn Giá</th>
            <th style="border: 2px outset #cb6c8c;color:black;text-align:center">Thành Tiền</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@item.Sach.IDSach</td>
                <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@item.Sach.TenSach</td>
                <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle"><img src="~/images/image/@item.Sach.Anh" width="100px" height="100px" /></td>
                @if (item.SoLuong < 0)
                {
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle"><input type="text" class="txtQuantity" data-id="@item.Sach.IDSach" value="1" size="10px" readonly/></td>
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@item.Sach.Gia.GetValueOrDefault(0).000 VND</td>
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@(item.Sach.Gia.GetValueOrDefault(0) * 1).000 VND</td>
                }
                else
                {
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle"><input type="text" class="txtQuantity" data-id="@item.Sach.IDSach" value="@item.SoLuong" size="10px" readonly/></td>
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@item.Sach.Gia.GetValueOrDefault(0).000 VND</td>
                    <td style="border: 2px outset #cb6c8c;color:black;text-align:center;vertical-align:middle">@(item.Sach.Gia.GetValueOrDefault(0) * item.SoLuong).000 VND</td>
                }



            </tr>
        }

    </tbody>
    <h4>Thông tin người mua hàng</h4>
    @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
    {
    <div class="input-group">
        @{
            var session = (BookOnline.Areas.Admin.Common.UserLogin)Session[BookOnline.Areas.Admin.Common.CommonConstant.USER_SESSION];
        }
        @if (session == null)
        {
            <input name="idtk" class="form-control" />
        }
        else
        {
            <input type="hidden" name="idkh" class="form-control" value="@session.ID" />
        }
    </div>
        <br>
        <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            
            <input id="tenkh" type="text" class="form-control" value="@session.Name" name="tenkh" placeholder="Tên người mua">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            
            <input id="sdt" type="text" class="form-control" value="@session.Phone" name="sdt" placeholder="Số điện thoại">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            
            <input id="email" type="email" class="form-control" value="@session.Email" name="email" placeholder="Email">
        </div>

        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            
            <textarea rows="5" class="form-control" style="resize: none;" value="@session.Address" name="diachi"></textarea>
        </div>

        <br>

        <input type="submit" class="btn btn-success" value="Thanh toán">
    }

        
    </table>
        
    }               
}



