
@model PagedList.IPagedList<Models.Account>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tài Khoản</h1>
    <p class="mb-4"></p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        @using (Html.BeginForm("Index", "Account", FormMethod.Get))
        {

            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.SearchString" name="searchString">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        }

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Tài Khoản</th>
                            <th>Tài Khoản</th>
                            <th>Mật Khẩu</th>
                            <th>Tên</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Ngày Tạo</th>
                        
                            

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.UserName</td>
                                <td><input type="password" value="@item.Password" readonly/></td>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.NgayTao</td>
                                
                                <td>
                                    

                                    <a href="/Admin/Account/Delete/@item.ID">Xoá</a>

                            </tr>
                        }
                    </tbody>

                </table>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                @Html.ActionLink("Thêm", "Create", "Account")
            </div>
        </div>
    </div>
</div>

